@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>H2o Helper</h1>
    <p class="lead">The h2o Helper is designed to be a simple aid in taking care of your health!</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Learn more about the h2o Helper&raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>What does it do?</h2>
        <p>
            The application looks to understand the user from their water consumption (ml/L) and their weight (kg/lb).
            From this data, a calculation takes place to give the user a hydration level!            
        </p>
        <p><a class="btn btn-default" href="~/Home/Convert">Learn more &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>User benefits</h2>
        <p>Users who sign up will have additional profile features that will allow them to use this application
        to track their daily intakes</p>
        <p>Guest users can use the converter but won't have the extra functions of a profile</p>
        <p><a class="btn btn-default" href="~/Home/Signup">Sign up! &raquo;</a></p>
    </div>
    <div class="col-md-4">
        <h2>Give it a go!</h2>
        <p>h2o Helper is free, plug in your values and see what your hydration level is. Use the application daily and start to 
        consciously take care of your water consumption :)</p>
        <p><a class="btn btn-default" href="~/Home/Calculate">Try it out! &raquo;</a></p>
    </div>
</div>